
@{
    ViewBag.Title = "Aggiungi Menu";
}


<body>
    <h1 style="padding-left:15px">@ViewBag.Title</h1>
    <div class="row">
        <h4 style="padding-left:30px">@ViewBag.Message</h4>
        <div style="float:right; padding-bottom:10px; padding-right:30px; text-align:right" class="col-lg-6">
            @using(Html.BeginForm("aggiungimenu","Home",FormMethod.Post)) {
                <input type="text" name="_Giorno" id="_Giorno" placeholder="Inserisci il giorno" style="border-radius:4px;" />
                <input type="text" name="_Orario" id="_Orario" placeholder="Inserisci l'orario" style="border-radius:4px;" />
                <input type="text" name="_Primo" id="_Primo" placeholder="Inserisci il primo piatto" style="border-radius:4px;" />
                <input type="text" name="_Secondo" id="_Secondo" placeholder="Inserisci il secondo piatto" style="border-radius:4px;" />
                <input type="text" name="_Contorno" id="_Contorno" placeholder="Inserisci il contorno " style="border-radius:4px;" />
                <input type="text" name="_Dolce" id="_Dolce" placeholder="Inserisci il dolce" style="border-radius:4px;" />
                <input type="submit" value="Aggiungi">
            }
        </div>
    </div>
    
    <h1>Lista Menu</h1>
    @if(@ViewBag.Menus != null) {
        <div>
            <div class=" container">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Giorno</th>
                            <th scope="col">Orario</th>
                            <th scope="col">Primo</th>
                            <th scope="col">Secondo</th>
                            <th scope="col">Contorno</th>
                            <th scope="col">Dolce</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var menu  in @ViewBag.Menus) {
                        <tr>
                            <td>@menu.Giorno</td>
                            <td>@menu.Orario</td>
                            <td>@menu.Primo</td>
                            <td>@menu.Secondo</td>
                            <td>@menu.Contorno</td>
                            <td>@menu.Dolce</td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    }
    </body>